
<section id="genre-list">
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
</section>