@model GameBoardDice.ViewModels.HomeViewModel
@using GameBoardDice.Infrastructure
@{ 
    ViewBag.Title = "Game x Board x Dice - sklep z grami planszowymi";
    ViewBag.Heading = "Witaj w naszym sklepie!";
}

<section id="slide">
    <img src="@Url.Content("~/Content/Images/slide.jpg")" />
</section>

<h2>Nowe produkty!</h2>
<section id="newgames">
    @foreach (var newgame in Model.NewGames)
    {
        <div><a href="@Url.Action("Details", "Store", new { id = newgame.GameID })"><div class="newFlag"></div><img src="@Url.BoxImagePath(newgame.BoxFileName)" /></a></div>
    }
</section>

<h2>Bestsellery!</h2>
<section id="bestsellers">
    @foreach (var bestseller in Model.Bestsellers)
    {
        <div><a href="@Url.Action("Details", "Store", new { id = bestseller.GameID })"><div class="bestsellerFlag"></div><img src="@Url.BoxImagePath(bestseller.BoxFileName)" /></a></div>
    }
</section>