
<section id="slide">
    <img src="@Url.Content("~/Content/Images/slide.jpg")" />
</section>

<section id="recommended">
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
</section>

<section id="bestsellers">
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
    <a href=""><img src="@Url.Content("~/Content/Images/slide.jpg")" /></a>
</section>