@model GameBoardDice.ViewModels.HomeViewModel
@using GameBoardDice.Infrastructure
@{ 
    ViewBag.Title = "Game x Board x Dice - sklep z grami planszowymi";
    ViewBag.Heading = "Witaj w naszym sklepie!";
}

<section id="slide">
    <img src="@Url.Content("~/Content/Images/slide.jpg")" />
</section>


<section id="newgames">
    <h2>Nowe produkty!</h2>
    <ul>
        @foreach (var newgame in Model.NewGames)
        {
            <li class="game-element">
                <a href="@Url.Action("AddToCart", "Cart", new { id = newgame.GameID })" class="addtocart-link"></a>
                <a href="@Url.Action("Details", "Store", new { id = newgame.GameID })">
                    <div class="newFlag"></div>
                    <img src="@Url.BoxImagePath(newgame.BoxFileName)" />
                </a>
            </li>
        }
    </ul>
</section>


<section id="bestsellers">
    <h2>Bestsellery!</h2>
    <ul>
        @foreach (var bestseller in Model.NewGames)
        {
            <li class="game-element">
                <a href="@Url.Action("AddToCart", "Cart", new { id = bestseller.GameID })" class="addtocart-link"></a>
                <a href="@Url.Action("Details", "Store", new { id = bestseller.GameID })">
                    <div class="bestsellerFlag"></div>
                    <img src="@Url.BoxImagePath(bestseller.BoxFileName)" />
                </a>
            </li>
        }
    </ul>
</section>